.wrapper {
  width: 100%;
}

.swiper {
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  gap: var(--space-2-5);
}

.prevButton,
.nextButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--space-8);
  height: var(--space-8);
  padding: 0;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-button);
  background-color: var(--color-surface-accent);
  cursor: pointer;
  transition:
    background-color var(--transition-interactive),
    border-color var(--transition-interactive),
    transform var(--transition-transform);
  outline: none;
}

.prevButton:hover,
.nextButton:hover{
  border: 1px solid var(--color-border-hover);
  background-color: var(--color-surface-hover);
  transform: scale(1.05);

}

.prevButton:focus,
.nextButton:focus {
  border: 1px solid var(--color-border-hover);
  background-color: var(--color-surface-hover);

}

.prevButton:active,
.nextButton:active {
  border: 1px solid var(--color-border-hover);
  background-color: var(--color-border-hover);
  transform: scale(1);
}

.prevButton:global(.swiper-button-disabled),
.nextButton:global(.swiper-button-disabled) {
  border: 1px solid var(--color-border);
  background-color: var(--color-surface-hover);
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}
.arrowIcon {
  width: var(--space-5);
  height: var(--space-5);
  color: var( --color-text-primary);
}