.page {
  padding-bottom: var(--space-9);
  padding-top: var(--space-6);
}
.title {
  font-size: var(--font-size-heading-1);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-heading);
  color: var(--color-black);
  letter-spacing: var(--letter-spacing-tight);
  align-items: center;
  justify-content: center;
  display: flex;
}

@media (min-width: 1440px) {
  .page {
    padding-bottom: var(--space-10);
    padding-top: var(--space-8);
  }
}
