.main {
  flex: 1 0 auto;
  width: 100%;
}

.container {
  width: 100%;
  min-width: 320px;
  max-width: var(--container-max-width);
  margin-inline: auto;
  padding-inline: var(--container-padding);
}
