.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding-block: 20px;
}
.modal {
  position: relative;
  width: calc(100vw - 40px);
  max-width: 334px;
  min-width: 0;
  min-height: 595px;
  border-radius: var(--radius-xlarge);
  background-color:var(--color-surface);
  padding: var(--space-9) 20px;
  margin-block: auto;
}
.closeButton {
  position: absolute;
  top: var(--space-5);
  right: var(--space-5);
  background-color: transparent;
  border: 1px solid transparent;
  border-radius:  var(--radius-small);
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition:
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon {
  fill: var(--color-white);
  stroke: black;
}
.closeButton:hover {
  border: 1px solid #000;
}
.closeButton:active {
  border: 1px solid #000;
  background-color: #d8d8d8;
}
.closeButton:disabled {
  opacity: 0.3;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 704px;
    max-width: 704px;
    min-height: 530px;
    padding: var(--space-9) var(--space-6);
  }
}
@media screen and (min-width: 1440px) {
  .modal {
    padding: var(--space-9);
    width: 768px;
    max-width: 768px;
    min-height: 553px;
  }
}
