.popularLocationSection{
  padding-top: 64px;
  padding-bottom: 64px;
}

.popularLocationContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.popularLocationsTitle {
font-weight: 700;
font-size: 28px;
width: 100%;
line-height: 1.2;
letter-spacing: -0.01em;
color: #000;
}
.popularLocationsLink{
  display: flex;
  align-items: center;
  justify-content: center;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #fff;
background-color: #cc6534;
border: 1px solid #cc6534;
border-radius: 6px;
padding: 6px 0;
min-width: 114px;
height: 48px;
text-decoration: none;
}
.popularLocationsLink:hover,
.popularLocationsLink:focus{
background-color: #ffe5d9;
color: #1b391b;
}
.popularLocationsLink:active{
background-color: #cc6534;
color: #fff;
}
/* .mySwiper :global(.swiper-slide) {
  height: 520px;
  background-color: #eee;
} */

.popularLocationWrapper {
  width: 100%;
 
}

.rating{
      display: flex;
  align-items: center;
  min-height: 24px;
    margin-bottom: 12px;
   
}
.star{
 color: #000;
}
@media (min-width: 768px) {
 .popularLocationsTitle {
font-size: 44px;
}
}

@media (min-width: 1440px) {
 .popularLocationSection{
  padding-top: 72px;
  padding-bottom: 72px;
}
 .popularLocationsTitle {
font-size: 52px;
}
.popularLocationsLink{
font-size: 20px;
min-width: 136px;
}
}