#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #107ed3;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #be1616;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper {
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 24px;
}

.prevButton,
.nextButton {
  width: 48px;
  height: 48px;
  border: 1px solid #000;
  background: transparent;
  cursor: pointer;
}